div.banner {
    background-color: #FFFFFF;
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
    display: table;
}

img.banner_image {
    height: 100px;
    width: 152px;
    margin-right: 5px;
    margin-bottom: 5px;
}

p.banner_text {
    font-size: 30px;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}

div.toolbar_ {
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 62px;
    width: 100%;
    text-align: center;
}

div.tabs_ {
    height: 62px;
    display: inline-block;
    margin: auto;
}

a.menu_item:link, a.menu_item:visited {
    display: block;
    width: auto;
    color: #FFFFFF;
    text-align: center;
    padding: 22px 8px 22px 8px;
    text-decoration: none;
    text-transform: uppercase;
}

a.menu_item:hover, a.menu_item:active {
    font-weight: bold;
    padding: 22px 8px 22px 8px;
    background-color: #444444;
}

ul.tabs {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

ul.tabs > li {
    display: inline;
    float: left;
}

div.events_ {
    display: block;
    margin: auto;
    width: 90%;
}

div.events_ > div {
    display: table-cell;
}

.event {
    margin: auto;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 0;
    float: left;
    clear: none;
    display: block;
    justify-content: center;
    align-items: center;
}

img.event_img {
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    z-index: 1;
    display: block;
    flex-shrink: 0;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
}

div.event_img {
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;

    position: relative;
    background: url('../images/image.jpg');
}

div.text_container {
    position: absolute;
    bottom: 0;
    left: 0.5em;
    width: 400px;
    font-weight: bold;
    color: #fff;
}





