#banner {
    background-color: black;
    text-align: center;
    padding: 5px;
}

#left_pane {
    font-size: 50px;
    line-height: 30px;
    flex: 1;
    width: 500px;
}

#right_pane {
    flex: 1;
    width: 500px;
}

#sponsors {
    background-color: black;
    clear: both;
    text-align: center;
    padding: 5px;
}

div.pane_parent {
    height: 550px;
    display: flex;
}

a.joinus {
    text-align: center;
    margin: 5px;
    display: inline-block;
    padding: 70px 80px 70px 80px;
    font-size: 30px;
    border-radius: 8px;
    border: solid 2px white;
    font-weight: bold;
    background-color: #FF5722;
    text-decoration: none;
    color: #ffffff;
}

p.overlay_text {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    text-align: center;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.35);
    color: #FFFFFF;
}

a.joinus:hover, a.joinus:active {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin: 5px;
    border-radius: 8px;
    background-color: #FF9752;
    text-decoration: none;
    color: #ffffff;
}

