#banner {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#left_pane {
    font-size: 50px;
    line-height: 30px;
    background-color: #eeeeee;
    flex: 1;
    width: 500px;
}

#right_pane {
    flex: 1;
    width: 500px;

}

#sponsors {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

div.parent {
    display: flex;
}
